.home{
    height: 100vh;
    display: flex;
    align-items: flex-end;
        &-container{
            height: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-content{
            height: 50%;
            display: flex;
            align-items: center;
            align-self: center;           
        }
        &-right, &-left{
            width: 50%;            
        }
        &-left{
            position: relative;
            text-align: center;
        }
        &-title{
            text-align: center;
            font-size: 1.7rem;
            font-weight: bold;
        }
        &-text{
            margin-top: 1rem;
            font-size: 1.4rem;
        }
        &-slogan{
            background: white;
            position: absolute;
            margin-top: 7%;
            right: 25%;
            color: black;
            padding: 1em;
            border-radius: 15px;
            width: auto;
            text-align: left;
        }
        &-image{
            width: 50%;
        }
        // Scroll icon
        &-foot{
            margin-bottom: 1rem;
            display: flex;
            align-self: center;            
        }    
        &-foot-text{
            color: white;
            font-size: 1.2rem;      
        }
        &-scroll{    
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &-icon{
                display: block;
                position: relative;
                height: 3em;
                width: 1.5em;
                border: .25em solid #fff;
                border-radius: 1em;
                &-out{
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: .6em;
                    height: 1em;
                    width: .4em;
                    margin-left: -.2em;
                    border-radius: .4em;
                    overflow: hidden;
                    }
                    &-in{
                    display: block;
                    height: 100%;
                    width: 100%;
                    border-radius: inherit;
                    background: #fff;
                    animation: scroll 2.75s ease-in-out infinite;
                    }
            }
        }
}

@keyframes scroll {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-0.6em); }
    50%  { transform: translateY(0); }
    75%  { transform: translateY(0.6em); }
    100% { transform: translateY(0); }
}

@media(max-width:480px){
    .home{
        height: 100%;
        display: flex;
        align-items: center;
        &-container{
            margin-top:7rem;
            display: flex;
            flex-direction: column;
        }
        &-content{
            display: flex;
            flex-direction: column;
        }
        &-right, &-left{
            width: 100%;            
        }
        &-foot{
            display: none;
        }
        &-slogan{
            margin-top: 4%;
            right: 5%;
        }
    }
   }