.home{
    height: 100vh;
    display: flex;
    align-items: flex-end;
        &-container{
            height: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-content{
            height: 50%;
            display: flex;
            align-items: center;
            align-self: center;           
        }
        &-right, &-left{
            width: 50%;            
        }
        &-left{
            position: relative;
        }
        &-slogan{
            background: white;
            position: absolute;
            margin-top: 5%;
            right: 17%;
            color: black;
            padding: 1em;
            border-radius: 15px;
            width: 15vw;
            text-align: left;
        }
        &-image{
            width: 80%;
        }
        // Scroll icon
        &-foot{
            margin-bottom: 1rem;
            display: flex;
            align-self: center;            
        }    
        &-foot-text{
            color: white;
            font-family: Roboto, sans-serif;
            font-weight: 100;            
        }
        &-scroll{    
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-icon{
                display: block;
                position: relative;
                height: 3em;
                width: 1.5em;
                border: .25em solid #fff;
                border-radius: 1em;
                &-out{
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: .6em;
                    height: 1em;
                    width: .4em;
                    margin-left: -.2em;
                    border-radius: .4em;
                    overflow: hidden;
                    }
                    &-in{
                    display: block;
                    height: 100%;
                    width: 100%;
                    border-radius: inherit;
                    background: #fff;
                    animation: scroll_1 2.75s ease-in-out infinite;
                    }
            }
        }
}

  
@keyframes scroll_1 {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-0.6em); }
    50%  { transform: translateY(0); }
    75%  { transform: translateY(0.6em); }
    100% { transform: translateY(0); }
  }