.career{
    min-height: 100vh;
    margin-top: 9rem;
        &-image{
            text-align: center;
        }
        &-img{
            width: 200px;
            margin: -2rem;
        }
        &-title{
            text-align: center;
            font-size: 2.2rem;
            font-weight: bold;
            margin-bottom: 3rem;
        }
        &-container{
            box-shadow: inset 0 0 20px #000000;
            background-color: rgb(200, 200, 200) ;
            border-radius: 10px;
            padding: 30px 30px 0 30px;
            display: flex;
            flex-direction: column;            
        }
        &-line{
            position: relative;
            background-color: white;
            width: 5px;
            min-height: 30vh;
            margin: 0 3rem;
        }
        &-imgOpquast, &-imgOclock, &-imgPlane{
            position: absolute;
            left: -38px;
            width: 80px;
            height: 80px;
            border-radius: 50%; 
        }
        &-imgPcDiploma{
            width: 17%;
        }
        &-imgBac{
            width: 20%;
        }
        &-badge{
            margin-top: .5rem;
            width: 100px;
        }
        &-item{
            display: flex;
                &-date{
                    width: 5%;
                    font-weight: bold;
                    margin: 2rem 1rem 0 0;
                }
                &-content{
                    margin: 0.5rem 1rem;
                    text-align: center;
                    width: 40%;
                }
                &-title{
                    font-weight: bold;
                    font-size: 1.7rem;
                }
                &-description{                
                    margin-top: .5rem;               
                }
                &-badge{
                    text-align: center;
                    animation: heartbeat 3s infinite;
                }
                &-link{
                    margin-top: .5rem;
                }
                &-text{
                    margin: 0.5rem;
                    width: 60%;
                        &-title{
                            font-weight: bold;
                            margin: .5rem 0;
                        }
                }
        }
}

@keyframes heartbeat {
    
        0%
        {
          transform: scale( 1 );
        }
        5%
        {
          transform: scale( 1.05 );
        }
        10%
        {
          transform: scale( 1 );
        }
        15%
        {
          transform: scale( 1.05 );
        }
        20%
        {
          transform: scale( 1 );
        }
        100%
        {
          transform: scale( 1 );
        }
      }


// Media Queries

@media(max-width:1025px){
    .career{
        &-imgOpquast, &-imgOclock, &-imgPlane{
            width: 40px;
            height: 40px;
            left: -18px
        }
        &-line{
            margin: 0 1.5rem 0 0 ;
            min-height: auto;
        }
        &-item{
            &-container{
                margin: 3rem 0 1rem 0;
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            &-date{
                margin: .5rem 0 0 0;
            }
            &-content{
                width: 95%;
                border-bottom: solid rgb(165, 165, 165) 3px;
            }
            &-description{
                padding: 10px 0;;
            }
            &-text{
                margin-top: 0;
                width: 95%;
                padding: 10px;
            }
            
        }
    }
}
@media(max-width:480px){
    .career{
        &-line{
            margin-right: .5rem;
        }
        &-item{
            &-date{
                margin-left: 1.5rem;
                position: absolute;
            }
        }
    }
}
@media(max-width:365px){
    .career{
        &-container{
            padding: 25px 25px 0 25px;
        }
        &-line{
            margin: 0;
        }
    }
}