.career{
    min-height: 100vh;
    margin: 4rem 0;
        &-image{
            text-align: center;
        }
        &-img{
            width: 10%;
        }
        &-title{
            text-align: center;
            font-size: 2.2rem;
            font-weight: bold;
            margin-bottom: 3rem;
        }
        &-container{
            box-shadow: inset 0 0 20px #000000;
            background-color: rgb(200, 200, 200) ;
            border-radius: 10px;
            padding: 30px 30px 0 30px;
            display: flex;
            flex-direction: column;            
        }
        &-line{
            position: relative;
            background-color: white;
            width: 5px;
            min-height: 30vh;
            margin: 0 3rem;
        }
        &-imgOpquast, &-imgOclock, &-imgPlane{
            position: absolute;
            left: -38px;
            width: 80px;
            height: 80px;
            border-radius: 50%; 
        }
        &-imgPcDiploma{
            width: 17%;
        }
        &-imgBac{
            width: 20%;
        }
        &-badge{
            margin-top: .5rem;
            width: 100px;
        }
        &-item{
            display: flex;
            &-date{
                width: 5%;
                font-weight: bold;
                margin: 2rem 1rem 0 0;
            }
            &-container{
                background-color: #D3D3D3;
                width: 80%;
                box-shadow: black 0.2rem 0.2rem 1rem;
                border-radius: 15px;
                display: flex;
                align-items: center;
                max-height: 26vh;
            }
            &-content{
                margin: 0.5rem 1rem;
                text-align: center;
                width: 40%;
            }
            &-title{
                font-weight: bold;
                font-size: 1.7rem;
            }
            &-description{                
                margin-top: .5rem;               
            }
            &-text{
                margin: 0.5rem;
                width: 60%;
            }
            &-badge{
                text-align: center;
            }
        }
}
@media(max-width:976px){
    .career{
        &-imgOpquast, &-imgOclock, &-imgPlane{
            width: 40px;
            height: 40px;
            left: -20px
        }
        &-line{
            margin: 0 1.5rem 0 0 ;
            min-height: auto;
        }
        &-item{
            &-container{
                margin: 3rem 0 1rem 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
                max-height: 100vh;
            }
            &-date{
                margin: .5rem 0 0 0;
            }
            &-content{
                width: 100%;
            }
            &-description{
                border-bottom: solid rgb(165, 165, 165) 3px;
                padding: 10px 0;;
            }
            &-text{
                margin-top: 0;
                width: 90%;
                padding: 10px;
            }
            
        }
    }
}