.project{
    min-height: 100vh;
        &-image{
            text-align: center;
        }
        &-img{
            width: 10%;
        }
        &-title{
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 1.5rem;
        }
        &-cards{
            display: flex;
            flex-direction: column;
        }
        &-card01{
            display: flex;
            justify-content: flex-start;
        }
        &-card02{
            display: flex;
            justify-content: center;
        }
        &-card03{
            display: flex;
            justify-content: flex-end;
        }
}
