.burger{       
    &-button{
        position: absolute;
        height: 4rem;
        width: 5rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: center;       
        border-radius: 10px;
        background-color: 	#C0C0C0 ;
        box-shadow: black 0.3em 0.2em 0.2em;
        position: fixed;
        top: 20px;
        right: 0;
        z-index: 20;
        display: none;
    }
    &-style{
        margin: 0.25rem 0;
        width: 2rem;
        height: 0.25rem;
        background-color: black;
        border-radius: 10px;
        transform-origin: 1px;
        transition: all 0.3s linear;
        &-text{
            color: white;
            font-family: 'Acme', sans-serif;
        }     
        &--open{
            &--1{
                transform: translateX(15%) rotate(45deg), ;
                width: 2.25rem;
                background-color: rgb(177, 38, 38);
            }    
            &--2{
                transform: translateX(100%);
                opacity: 0;
            }    
            &--3{
                transform: translate(15%) rotate(-45deg);
                width: 2.25rem;
                background-color: rgb(177, 38, 38);
            }          
        }
    }    
}

// Media Queries

@media(max-width:1025px){
    .burger{
        &-button{
            display: flex;
            &--open{
                transition: all 0.4s linear;
                background-color: transparent;    
            }
            &--closed{
                transition: all 0.4s linear;
            }           
        }
    }
}
@media(max-width:350px){
    .burger{
        &-button{
            height: 3.5rem;
            width: 4rem;
            top: 20px;
            margin-right: .4rem;
        }
        &-style{
            width: 1.8rem;
            &--open{
                &--1{
                    transform: translateX(15%) rotate(45deg), ;
                    width: 2.05rem;
                    background-color: rgb(177, 38, 38);
                }    
                &--2{
                    transform: translateX(100%);
                    opacity: 0;
                }    
                &--3{
                    transform: translate(15%) rotate(-45deg);
                    width: 2.05rem;
                    background-color: rgb(177, 38, 38);
                }   
        }
    }
}
}
