.nav{
    &-list{
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;  
        margin: 0;
    }

    &-links{
        align-self: baseline;
        font-family: 'Acme', sans-serif;
        padding: 5px 10px;
        margin: 0 5px;
        color: #585858;
        font-weight: bold;
        transition: all .5s;
            &:hover{
                transform: scale(1.5) translateY(-2px);           
            }
            
    }
}
    
.active{
    border-bottom: white solid 4px;
    border-top: white solid 4px ;
    border-radius: 10px;
    color: black;
    
}

// Media Queries

@media (max-width: 976px) {
    .nav{
        &-list{
            &--open, &--closed{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                background-color: 	#252525;
                min-height: 100vh;
                border-left: white 2px solid;
                position: fixed;
                top: 0;
                right: -1px;
                width: 50%;
                transition: transform 0.5s ease;
                
            }
            &--open{
                transform: translateX(0);
            }
            &--closed{                
                transform: translateX(100%);              
            }  
        }
        &-links{
            margin: 10px 0;
            font-size: 1.5rem;               
        }        
    }
}