.cv{
    height: 90vh;
    display: flex;
    &-right, &-left{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-left{
        position: relative;
    }
    &-slogan{
        background: white;
        position: absolute;
        margin-top: -25%;
        right: 17%;
        color: black;
        padding: 1em;
        border-radius: 15px;
        width: 15vw;
        text-align: left;
    }
    &-image{
        width: 80%;
    }
    
}