.header{
    height: 17vh;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    background-color: rgb(171, 185, 181);    
    z-index: 3;
    transition: ease-in 0.3s;
        &-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;
        }
        &-scrolling{
            background-color: rgb(55, 141, 117);
            box-shadow: 0 0 10px rgba(0,0,0,1);
            transition: linear .3s;
            height: 12vh;
        }
        &-before{
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: burlywood;
        }
        &-enter{
            display: none;
        }
        &-picture{
            animation: floating infinite 5s ease 3.5s;        
        }
        &-image{
            width: 100px;
            transition: transform .5s;
            &:hover{
                transform: scale(1.2);
            }
            &--turn{
                animation: turn .3s;
                width: 100px;
            }
            &--unicorn{
                z-index: 4;
                width: 100px;
                animation: enter 3s;
                transition: transform .5s;
                user-select: none; // fix blue-box issue when unicorn appears
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        &-content{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        &-intro{
            display: flex;            
            margin-bottom: 1rem;
            align-items: flex-end;
        }
        &-text{
            animation: text 6s;
        }
        &-me{
            display: flex;
        }
        &-title{
            font-size: 2.2rem;
            font-weight: bold;
            color: rgb(0, 0, 0);
            margin: 0 .3rem -4px;
            animation: ease 5s titleenter ;        
        }
        &-portfolio{
            font-size: 2.2rem;
            font-weight: bold;
            color: rgb(0, 0, 0);
            margin: 0 .3rem -4px;
            animation: ease 2.5s folioenter ;
        }
        &-button{
            margin: 2rem;
            padding: 1rem;
            border-radius: 5px;
            animation: clickit 7.5s;
        }
        &-nav{
            animation: naventer 3.5s;
            display: flex;
            flex-wrap: nowrap;
            color: rgb(95, 87, 87);
        }
        &-link{
            padding: 10px;
            font-weight: bold;
            transition: transform .5s, color .5s;
            &:hover{
                transform: scale(1.5) translateY(-2px);
                color: white;                
            }
        }
        &-burger{
            display: none;
        }
}

@keyframes turn {
    from    {transform: rotate(0deg);}
    to      {transform: rotate(360deg);}
}
@keyframes enter {
    from    {opacity: 0;
            transform: 
                translateX(-300px)
                translateY(500px)
                scale(3)}
    to      {opacity: 1;
            transform: 
                translateX(0)
                translateY(0)
                scale(1)}
}

@keyframes starenter {
    from    {opacity: 0;
            transform: 
                translateX(-300px)
                translateY(500px)
                scale(3)}
    to      {opacity: 1;
            transform: 
                translateX(0)
                translateY(0)
                scale(1)}
}

@keyframes naventer {
    0%      {opacity: 0;
            transform: translateX(300px)}
    70%     {opacity: 0;
            transform: translateX(300px)}
    100%    {opacity: 1;
            transform: translateX(0)}
}

@keyframes titleenter {
    0%      {opacity: 0;
            transform: 
                translateY(-280px)
                translateX(-140px)
                scale(0.4)}
    30%      {opacity: 1;
            transform: 
                translateY(-280px)
                translateX(-140px)
                scale(0.4)}        
    50%     {transform: 
                translateY(-400px)
                translateX(-40px)
                scale(0.7)
            }
    55%     {transform: translateY(-450px)
            rotateY(360deg)}
            80%{transform: translateY(0);
                opacity: 1;}
                82%{opacity: 0;}
            83%{opacity: 1;}
            85%{opacity: 0;}
            86%{opacity: 1;}
            93%{opacity: 1;}
            96%{opacity: 0;}
            97%{opacity: 1;}
            99%{opacity: 0;}
            100%{opacity: 1;}
}

@keyframes folioenter{
    0%      { margin-left: -700px;
            opacity: 0;}
    40%     { margin-left: -700px;
            opacity: 0; }
    75%     { opacity: 0; }
    100%    { margin-left: 0px;}
}

@keyframes floating {
    0%      {transform: translateY(0)}
    50%     {transform: translateY(15px)}
    100%    {transform: translateY(0)}
}

@keyframes clickit {
    0%      {opacity: 0}
    80%     {opacity: 0}
    100%    {opacity: 1}
}

@keyframes text {
    0%      {opacity: 0}
    80%     {opacity: 0}
    100%    {opacity: 1}
}

// Media queries

@media(max-width:480px){
 .header{
    height: 14vh;
    display: flex;
        &-before{
            height: 100vh;
        }
        &-scrolling{
            height: 12vh;
        }
        &-container{
            width: 100%;
            justify-content: flex-start;
            align-items: flex-end;
        }
        &-image, &-image--turn, &-image--unicorn{
            margin-right: 2rem;
        }
        &-me{        
            display: inline;
        }
        &-reduce{
            font-size: 1.5rem;
        }
        &-portfolio{
        font-size: 1rem;
        margin: 0.5rem;
        }
 }
 @keyframes folioenter{
    0%      { transform:
        translateY(-25px);
            opacity: 0;}
            50%      { transform:
                translateY(-25px);
                    opacity: 0;}
    100%    { }
}
@keyframes naventer {
    0%      {opacity: 0;}
    70%     {opacity: 0;}
    100%    {opacity: 1;}
} 
}

@media(max-width:400px){
    .header{
        &-image, &-image--turn, &-image--unicorn{
            margin-right: 0;
        }
    }
}
