.header{
    height: 15vh;
    position: fixed;
    width: 80%;
    top: 0;
    background-color: rgb(171, 185, 181);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
    transition: ease .5s;
        &-scrolling{
            box-shadow: 0 0 10px rgba(0,0,0,1);
            transition: ease 1s;
            height: 10vh;

        }
        &-picture{
            animation: floating infinite 5s ease 3.5s;           
        }
        &-image{
            width: 100px;
            animation: transform;
            transition: transform .5s;
            &:hover{
                transform: scale(1.2);
            }
            &--turn{
                animation: turn .3s;
                width: 100px;
            }
            &--unicorn{
                z-index: 4;
                width: 100px;
                animation: enter 3s;
                transition: transform .5s;
                user-select: none; // fix blue-box issue when unicorn appears
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        &-title{
            font-size: 2.2rem;
            font-weight: bold;
            color: rgb(0, 0, 0);
        }
        &-nav{
            display: flex;
            flex-wrap: nowrap;
            color: rgb(95, 87, 87);
        }
        &-link{
            padding: 10px;
            font-weight: bold;
            transition: transform .5s, color .5s;
            &:hover{
                transform: scale(1.5) translateY(-2px);
                color: white;
            }
        }
}

@keyframes turn {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes enter {
    from {
        opacity: 0;
        transform: 
            translateX(-300px)
            translateY(500px)
            scale(3)
        ;}
    to {
        opacity: 1;
        transform: 
            translateX(0)
            translateY(0)
            scale(1);
    }
}
@keyframes floating {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px)
    }
    100%{
        transform: translateY(0);
    }

}