.footer{
    height: 11vh;
    background-color: #797979;
    display: flex;
    justify-content: flex-end;
        &-content{
            margin-right: 6rem;
            display: flex;
            align-items: center;           
        }
        &-icons{
            display: flex;
            align-items: center;
        }
        &-linked, &-Gmail{
            color: black;
            font-size: 2rem;
            margin: 0 1rem;
        }
        &-Gmail{
            font-size: 2.8rem;
        }
}

@media(max-width:480px){
    .footer{
        &-content{
            margin-right: 1rem;
        }
        &-linked, &-Gmail{
            margin: 0 .5rem;
        }
    }
}
@media(max-width:600px){
    .footer{
        height: 17vh;
        align-items: center;
        &-content{
            display: inline;            
        }
        &-icons{
            display: flex;
            justify-content: flex-end;        
        }
        &-Gmail{
            margin-top: 0.2rem;
            font-size: 2.7rem;
        }
    }
}