.App {
    width: 100%;
    height: auto;
    margin: 0;
    background-color: #B0B0B0;
    font-family: 'Acme', sans-serif;
     &-welcome{
         height: 100vh;
         font-family: 'Acme', sans-serif;
     }
}

